{% extends 'layout.twig' %}
{% block body %}
    <div class="loading-container-overlay">
        <div class="loading-container">
            <div class="loading"></div>
            Loading..
        </div>
    </div>
    <div id="app"></div>
{% endblock %}