{% extends 'layout.twig' %}
{% block head %}
    <script nonce="469261a9b2a9dd894a48">
        const NIMIQ_NETWORK = "{{ NIMIQ_NETWORK }}"
    </script>
{% endblock %}
{% block body %}
    <div class="loading-container-overlay">
        <div class="loading-container">
            <div class="loading"></div>
            Loading..
        </div>
    </div>
    <div id="app"></div>
{% endblock %}