<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {#<link rel='stylesheet' href='/css/style.css'/>#}

    {% block head %}{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
<script src="/build/bundle.js"></script>

</html>
