<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {#<link rel='stylesheet' href='/css/style.css'/>#}

    {% block head %}{% endblock %}
</head>
<body>
<header id="top" class="nq-blue-bg">
    <h1 class="nq-h1 pull-left">Nimiq Wallet Manager</h1>
    {% if user %}
        <ul class="nav pull-right">
            <li><a class="nq-icon settings" href="#"></a></li>
        </ul>
    {% endif %}
    <div class="clearfix"></div>
</header>
{% block body %}
{% endblock %}
</body>
<script src="/build/bundle.js"></script>

</html>
