<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {#<link rel='stylesheet' href='/css/style.css'/>#}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/build/base.css">
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
<script src="https://cdn.nimiq.com/nimiq.js"></script>
<script src="/build/bundle.js"></script>

</html>
