<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {#<link rel='stylesheet' href='/css/style.css'/>#}

    {% block head %}{% endblock %}
</head>
<body>
<header id="top" class="nq-blue-bg">
    <h1 class="nq-h1 pull-left">Nimiq Wallet Manager</h1>
    {% if user %}
        <ul class="nav pull-right">
            <li><a class="nq-icon settings" href="#"></a></li>
        </ul>
    {% endif %}
    <div class="clearfix"></div>
</header>
<div class="flex-container">
    {% if user %}
        <div class="sidenav scrollbar-themed">
            <div class="nq-card">
                <div class="nq-card-body">
                    <span class="nq-label">My Wallet test 123 </span>
                    <div class="nq-text-s">
                        NQ42 DF7T CB2Q N2E2 JKDS HYDP QDD3 4EHQ R2N6
                    </div>
                    <div class="nq-h3 pull-right">33.33 NIM</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="nq-card">
                <div class="nq-card-body">
                    <span class="nq-label">My Wallet test 123 </span>
                    <div class="nq-text-s">
                        NQ42 DF7T CB2Q N2E2 JKDS HYDP QDD3 4EHQ R2N6
                    </div>
                    <div class="nq-h3 pull-right">33.33 NIM</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="nq-card">
                <div class="nq-card-body">
                    <span class="nq-label">My Wallet test 123 </span>
                    <div class="nq-text-s">
                        NQ42 DF7T CB2Q N2E2 JKDS HYDP QDD3 4EHQ R2N6
                    </div>
                    <div class="nq-h3 pull-right">33.33 NIM</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="nq-card">
                <div class="nq-card-body">
                    <span class="nq-label">My Wallet test 123 </span>
                    <div class="nq-text-s">
                        NQ42 DF7T CB2Q N2E2 JKDS HYDP QDD3 4EHQ R2N6
                    </div>
                    <div class="nq-h3 pull-right">33.33 NIM</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="nq-card">
                <div class="nq-card-body">
                    <span class="nq-label">My Wallet test 123 </span>
                    <div class="nq-text-s">
                        NQ42 DF7T CB2Q N2E2 JKDS HYDP QDD3 4EHQ R2N6
                    </div>
                    <div class="nq-h3 pull-right">33.33 NIM</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="nq-card">
                <div class="nq-card-body">
                    <span class="nq-label">My Wallet test 123 </span>
                    <div class="nq-text-s">
                        NQ42 DF7T CB2Q N2E2 JKDS HYDP QDD3 4EHQ R2N6
                    </div>
                    <div class="nq-h3 pull-right">33.33 NIM</div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    {% endif %}
    <div class="content-container nq-style scrollbar-themed">
        <app></app>
        {% block body %}
        {% endblock %}
    </div>
</div>


</body>
<script src="/build/bundle.js"></script>

</html>
