{% extends 'layout.twig' %}

{% block body %}
    <div class="flex-container">
        <div class="content-container nq-style scrollbar-themed">

            <div class="centered-container">
                <div class="text-center">
                    <div class="logo"></div>
                    <h1>Nimiq Wallet Manager</h1>
                </div>
                <div class="nq-card">

                    {% if not registrationSuccess %}
                        <div class="form">
                            {% if errors %}
                                <div class="errors nq-red-bg">
                                    {% for error in errors %}
                                        {{ error.msg }}<br/>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <h2 class="nq-h2">Register</h2>
                            <form method="post">
                                <div class="nq-label">Username:</div>
                                <input type="text" name="username" value="{{ data.username }}">
                                <div class="nq-label">E-mail:</div>
                                <input type="text" name="email" value="{{ data.email }}">
                                <div class="nq-label">Password:</div>
                                <input type="password" class="password" name="password">
                                <div class="nq-label">Repeat password:</div>
                                <input type="password" class="password" name="password_repeat">
                                <button class="nq-button-s">Register</button>
                            </form>
                            <a href="/login">Already have an account? Login</a>
                        </div>
                    {% endif %}
                    {% if registrationSuccess %}
                        <div class="form">
                            Registration success, you can <a href="/login">login</a> now.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}