{% extends 'layout.twig' %}
{% block body %}
    <div class="dashboard">
        <div class="nq-card">
            <div class="nq-card-header">
                <h1 class="nq-h1">Network information</h1>
            </div>
            <div class="nq-card-body">
                <div class="body-row">
                    <span class="nq-label">Consensus</span>
                    <span class="nq-text-s pull-right">12</span>
                </div>
                <div class="body-row">
                    <span class="nq-label">Blockchain height</span>
                    <span class="nq-text-s pull-right">12</span>
                </div>
                <div class="body-row">
                    <span class="nq-label">Global hashrate</span>
                    <span class="nq-text-s pull-right">12</span>
                </div>
                <div class="body-row">
                    <span class="nq-label">Difficulty</span>
                    <span class="nq-text-s pull-right">12</span>
                </div>
            </div>
        </div>
        <div class="nq-card">
            <div class="nq-card-header">
                <h1 class="nq-h1">Total balance 1 234 456 NIM</h1>
            </div>
            <div class="nq-card-body">
                <p class="nq-text">Card Body</p>
            </div>
        </div>
        <div class="nq-card">
            <div class="nq-card-header">
                <h1 class="nq-h1">Seed information</h1>
            </div>
            <div class="nq-card-body">
                <div class="body-row">
                    <span class="nq-label">Peers connected</span>
                    <span class="nq-text-s pull-right">12</span>
                </div>
                <div class="body-row">
                    <span class="nq-label">Network in</span>
                    <span class="nq-text-s pull-right">12</span>
                </div>
                <div class="body-row">
                    <span class="nq-label">Network out</span>
                    <span class="nq-text-s pull-right">12</span>
                </div>
            </div>
        </div>

    </div>

    <div class="recent-tx nq-card">
        <div class="nq-card-header">
            <h1 class="nq-h1"> Recent transactions</h1>
        </div>
        <div class="nq-card-body">
            {% raw %}
                <div class="x-transactions-list">

                    <div class="x-transaction">
                        <div class="timestamp">
                            23:33
                        </div>
                        <div class="x-identicon">
                            <identicon address="tx.fromAddress" size="64" ng-if="tx.fromAddress"></identicon>
                        </div>
                        <div class="x-label" sender="">
                            NQ55 V8DC EFJK H2H8 H1G6 8Q35 3YTN Y2XG D6FK
                        </div>
                        <div class="x-arrow">
                            <i class="mdi mdi-arrow-forward mdi-2x"></i>
                        </div>
                        <div class="x-identicon">
                            <identicon address="tx.toAddress" size="64" ng-if="tx.toAddress"></identicon>
                        </div>
                        <div class="x-label" recipient="">
                            NQ44 MD1D 08GP H289 Q790 DMXP XQ92 E61K CJU3
                        </div>
                        <div class="x-amount incoming">
                            <div class="x-currency-nim " style="display: inline;">
                                + 123.5 NIM
                            </div>
                        </div>
                    </div>
                    <div class="x-transaction">
                        <div class="timestamp">
                            23 Aug

                        </div>
                        <div class="x-identicon">
                            <identicon address="tx.fromAddress" size="64" ng-if="tx.fromAddress"></identicon>
                        </div>
                        <div class="x-label" sender="">
                            NQ55 V8DC EFJK H2H8 H1G6 8Q35 3YTN Y2XG D6FK
                        </div>
                        <div class="x-arrow">
                            <i class="mdi mdi-arrow-forward mdi-2x"></i>
                        </div>
                        <div class="x-identicon">
                            <identicon address="tx.toAddress" size="64" ng-if="tx.toAddress"></identicon>
                        </div>
                        <div class="x-label" recipient="">
                            NQ44 MD1D 08GP H289 Q790 DMXP XQ92 E61K CJU3
                        </div>
                        <div class="x-amount outgoing">
                            <div class="x-currency-nim " style="display: inline;">
                                -
                                123.5 NIM
                            </div>
                        </div>
                    </div>
                    <div class="x-transaction">
                        <div class="timestamp">
                            23 Aug

                        </div>
                        <div class="x-identicon">
                            <identicon address="tx.fromAddress" size="64" ng-if="tx.fromAddress"></identicon>
                        </div>
                        <div class="x-label" sender="">
                            NQ55 V8DC EFJK H2H8 H1G6 8Q35 3YTN Y2XG D6FK
                        </div>
                        <div class="x-arrow">
                            <i class="mdi mdi-arrow-forward mdi-2x"></i>
                        </div>
                        <div class="x-identicon">
                            <identicon address="tx.toAddress" size="64" ng-if="tx.toAddress"></identicon>
                        </div>
                        <div class="x-label" recipient="">
                            NQ44 MD1D 08GP H289 Q790 DMXP XQ92 E61K CJU3
                        </div>
                        <div class="x-amount outgoing">
                            <div class="x-currency-nim " style="display: inline;">
                                -
                                123.5 NIM
                            </div>
                        </div>
                    </div>
                    <div class="x-transaction">
                        <div class="timestamp">
                            23 Aug

                        </div>
                        <div class="x-identicon">
                            <identicon address="tx.fromAddress" size="64" ng-if="tx.fromAddress"></identicon>
                        </div>
                        <div class="x-label" sender="">
                            NQ55 V8DC EFJK H2H8 H1G6 8Q35 3YTN Y2XG D6FK
                        </div>
                        <div class="x-arrow">
                            <i class="mdi mdi-arrow-forward mdi-2x"></i>
                        </div>
                        <div class="x-identicon">
                            <identicon address="tx.toAddress" size="64" ng-if="tx.toAddress"></identicon>
                        </div>
                        <div class="x-label" recipient="">
                            NQ44 MD1D 08GP H289 Q790 DMXP XQ92 E61K CJU3
                        </div>
                        <div class="x-amount outgoing">
                            <div class="x-currency-nim " style="display: inline;">
                                -
                                123.5 NIM
                            </div>
                        </div>
                    </div>
                    <div class="x-transaction">
                        <div class="timestamp">
                            23 Aug

                        </div>
                        <div class="x-identicon">
                            <identicon address="tx.fromAddress" size="64" ng-if="tx.fromAddress"></identicon>
                        </div>
                        <div class="x-label" sender="">
                            NQ55 V8DC EFJK H2H8 H1G6 8Q35 3YTN Y2XG D6FK
                        </div>
                        <div class="x-arrow">
                            <i class="mdi mdi-arrow-forward mdi-2x"></i>
                        </div>
                        <div class="x-identicon">
                            <identicon address="tx.toAddress" size="64" ng-if="tx.toAddress"></identicon>
                        </div>
                        <div class="x-label" recipient="">
                            NQ44 MD1D 08GP H289 Q790 DMXP XQ92 E61K CJU3
                        </div>
                        <div class="x-amount outgoing">
                            <div class="x-currency-nim " style="display: inline;">
                                -
                                123.5 NIM
                            </div>
                        </div>
                    </div>
                    <div class="x-transaction">
                        <div class="timestamp">
                            23 Aug

                        </div>
                        <div class="x-identicon">
                            <identicon address="tx.fromAddress" size="64" ng-if="tx.fromAddress"></identicon>
                        </div>
                        <div class="x-label" sender="">
                            NQ55 V8DC EFJK H2H8 H1G6 8Q35 3YTN Y2XG D6FK
                        </div>
                        <div class="x-arrow">
                            <i class="mdi mdi-arrow-forward mdi-2x"></i>
                        </div>
                        <div class="x-identicon">
                            <identicon address="tx.toAddress" size="64" ng-if="tx.toAddress"></identicon>
                        </div>
                        <div class="x-label" recipient="">
                            NQ44 MD1D 08GP H289 Q790 DMXP XQ92 E61K CJU3
                        </div>
                        <div class="x-amount outgoing">
                            <div class="x-currency-nim " style="display: inline;">
                                -
                                123.5 NIM
                            </div>
                        </div>
                    </div>
                </div>
            {% endraw %}
        </div>
    </div>

{% endblock %}