.dg-main-content{
  background-color: transparent;
}

body .dg-container--has-input .dg-form{
  border: none;
}

body .dg-form{
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  input{
    outline: none;
    background: transparent;
    width: 100%;
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    border-radius: 0;
    padding: 1px !important;

  }
}
.dg-content-cont--floating {
  top: 28%;
}
.big-dialog{
  .dg-content-cont--floating {
    @media screen and (max-width: 768px){
      top: 0;
      transform: translateY(0%);
      .dg-main-content{
        .nq-card{
          max-height: 90vh;
          overflow: auto;
        }
        margin: 0;
      }
    }
    top: 45%;
  }
  .dg-main-content{
    max-width: 650px;
  }
}

.dg-backdrop{
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
}