input[type="text"], input.password, input[type="number"] {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0;
  font-size: 15px;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #3b3b3b;
  display: block;
  margin-bottom: 15px;
  padding: 5px 0;
}
input[type="password"] {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  font-size: 1.875rem;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  padding: 1px;
}
button{
  margin-bottom: 15px;
}