html,
body {
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
}

header {
  h1.nq-h1 {
    margin: 0;
    padding: 20px;
  }
  .nimiq-logo{
    margin-top: 15px;
    margin-left: 15px;
  }
  > ul.nav {
    margin: 0;
    > li {
      padding: 22px;
      cursor: pointer;
      &:hover {
        .settings {
          svg path {
            fill: #1f2348;
          }
        }
        background-color: #fff;
        .submenu {
          display: block;
        }
      }
    }
    ul li:hover {
      background-color: hsla(0, 0%, 50.2%, .1);
    }
    li {
      list-style: none;

      .settings {
        width: 1.2em;
        height: 1.2em;
      }

      .submenu {
        min-width: 200px;
        text-align: center;
        display: none;
        position: absolute;
        background-color: #fff;
        right: 0;
        color: var(--nimiq-blue);
        padding: 0;
        top: 53px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        & > li {
          &.spacer{

          }
          a {
            padding: 2rem;
            display: block;
            cursor: pointer;
            text-decoration: none;
            color: var(--nimiq-blue);
          }
        }
      }
    }
  }
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  //background-color: red;
  min-height: calc(100% - 70px);
}

.sidenav {
  //background-color: lightgray;
  -webkit-flex: 1;
  flex: 1.5;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  .nq-card {
    .nq-card-body {
      .nq-text-s {
        white-space: nowrap;
        overflow: hidden;
        max-width: 300px;
        text-overflow: ellipsis;
      }
      .nq-h3 {
        display: inline-block;
        margin: 0;
      }
    }
  }
}

.content-container {
  //background-color: lightblue;
  height: calc(100vh - 70px);
  max-width: 1200px;
  overflow-y: auto;
  -webkit-flex: 5;
  flex: 5;
  margin: 0 auto;

}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}

.centered-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    height: 64px;
    width: 64px;
    margin: 0 auto;
  }
  .form {
    h2 {
      margin-top: 0;
    }
    padding: 20px;
  }
}

.logo {
  background: url('data:image/svg+xml;utf8,<svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.6991 10.875L21.0741 1.125C20.6691 0.4275 19.9266 0 19.1241 0H7.87414C7.07164 0 6.32914 0.4275 5.92789 1.125L0.302891 10.875C-0.0983594 11.5725 -0.0983594 12.4275 0.302891 13.125L5.92789 22.875C6.32914 23.5725 7.07164 24 7.87414 24H19.1241C19.9266 24 20.6691 23.5725 21.0704 22.875L26.6954 13.125C27.1004 12.4275 27.1004 11.5725 26.6991 10.875Z" fill="url(#paint0_radial)"/><defs><radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(26.9996 24) rotate(-180) scale(26.9977 24)"><stop stop-color="#EC991C"/><stop offset="1" stop-color="#E9B213"/></radialGradient></defs></svg>') no-repeat;
  background-size: contain;
}

.errors {
  padding: 5px;
  border-radius: 1rem;
  margin-bottom: 15px;
}

.identicon {
  margin-right: 15px;
}

.account-data {
  width: calc(100% - 80px);
}

.identicon, .account-data {
  float: left;
}

.contact-list .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-list .contact .actions {
  margin-top: 12px;
}

.contact-list .contact div:first-child {
  width: 10%;
  min-width: 55px;
}

.contact-list .contact div:nth-child(2) {
  width: 20%
}

.contact-list .contact div:nth-child(3) {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
}
.pointer{
  cursor: pointer;
}