.scrollbar-themed {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: var(--nimiq-blue);
  }
  &::-webkit-scrollbar-thumb {
    //border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    opacity: 0.4;
    background: var(--nimiq-blue);
  }

}