.x-transactions-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  .x-transaction {
    &:first-child {
      padding-left: 16px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      padding-right: 16px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .x-label[recipient], .x-label[sender] {
      @media screen and (max-width: 480px) {
        display: none !important;
      }
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    * {
      display: table-cell !important;
      vertical-align: middle;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .timestamp {
      max-width: 150px;
      width: 10%;
    }
    .x-arrow {
      width: 5%;
    }
    .x-identicon {
      width: 66px;
      height: 50px;
      padding: 0 8px;
    }
    .x-amount {
      @media (max-width: 480px) {
        font-size: 1.1em;
      }

      @media (max-width: 350px) {
        font-size: 1em;
      }
      text-align: right;
      font-size: 1.4em;
      .x-currency-nim {
        @media (max-width: 350px) {
          text-align: left;
          float: none;
        }
        float: right;
        * {
          display: inline-block !important;
        }
      }
    }
    padding: 8px 16px;
    display: table-row;
    //cursor: pointer;
    border-radius: 4px;
  }
}

.x-amount.incoming .x-currency-nim {
  color: #2e7d32;
}

.x-amount.outgoing .x-currency-nim {
  color: #d32f2f;
}