.x-transactions-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  .x-transaction {
    .x-label[recipient], .x-label[sender] {
      @media screen and (max-width: 480px) {
        display: none !important;
      }
      overflow: hidden;
      width: 25%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .timestamp {
      max-width: 150px;
      width: 10%;
    }
    .x-identicon {
      min-width: 64px;
      width: 10%;
      text-align: center;
    }
    .x-amount {
      @media (max-width: 480px) {
        font-size: 1.1em;
      }

      @media (max-width: 350px) {
        font-size: 1em;
      }
      text-align: right;
      font-size: 1.4em;
      width: 15%;
      .x-currency-nim {
        @media (max-width: 350px) {
          text-align: left;
          float: none;
        }
        float: right;
        * {
          display: inline-block !important;
        }
      }
    }
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
  }
}

.x-amount.incoming .x-currency-nim {
  color: #2e7d32;
}

.x-amount.outgoing .x-currency-nim {
  color: #d32f2f;
}